<div class="container">
    <div>
      Username : <input type="text" name="username" [(ngModel)]="username">
      Password : <input type="password" name="password" [(ngModel)]="password">
      First Name : <input type="text" name="firstName" [(ngModel)]="firstName">
      Last Name : <input type="text" name="lastName" [(ngModel)]="lastName">
      Email : <input type="email" name="password" [(ngModel)]="email">

    </div>
    <button (click)=registerUser() class="btn btn-success">
      Register
    </button>
</div>